
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&family=Roboto:wght@300;400&display=swap');
/* @import "~aos/dist/aos.css"; */

.poppins {
    font-family: 'Poppins', sans-serif;
}
.castoro {
    font-family: 'Castoro', serif;
}
label.error {
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.active {
    background-color: #F0F9FF;
}

.active p, .active i {
    color: #2563EB; 
}

.active-archive, .active-level {
    background-color: #60a5fa;
    color: white;
}

.active-eval, .active-quarter {
    background-color: rgb(30 64 175);
    color: white;
}

.active-archive label, .active-archive i  {
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.custom-width {
    width: calc(100% - 250px);
}

.rotate-180 {
    transform: rotate(180deg);
}

.hero-pattern  {
    --dot-bg: white;
    --dot-color: black;
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }
    